doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/styles/main.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Abel|Open+Sans|Raleway|Ropa+Sans|Wire+One")
        block styles

    body
        block content
        script
            | (function() {
            |     var $navButton = document.querySelector('.js-navigation-button');
            |     var $nav = document.querySelector('.js-nav');
            |     if (!$navButton) return;
            |     console.log($nav, $navButton)
            |     $navButton.addEventListener('click', function() {
            |         var navIsActive = $nav.classList.contains('is-active');
            |         if (navIsActive) {
            |             $nav.classList.remove('is-active')
            |         } else {
            |             $nav.classList.add('is-active')
            |         }
            |         console.log('click')
            |     })
            | })();

        block scripts