header.header(style="background-image: url('" + headerImage + "')")
    div.header-overlay
    include navigation

    div.header-content
        h1.header-title
            span YAYU/
            span(class=headerColor) #{headerTitle}
        h2.header-subtitle #{headerSubtitle}
