nav.navigation.js-nav
    ul.navigation-list
        li.navigation-item
            a(href="/views/home.html").navigation-link.navigation-item--home Home
        li.navigation-item
            a(href="/views/blog.html").navigation-link.navigation-item--blog Blog
        li.navigation-item
            a(href="/views/projects.html").navigation-link.navigation-item--projects Projects
        li.navigation-item
            a(href="/views/experiments.html").navigation-link.navigation-item--experiments Experiments
        li.navigation-item
            a(href="/views/about.html").navigation-link.navigation-item--about About

i.navigation-button.js-navigation-button
    span.navigation-button-line
    span.navigation-button-line
    span.navigation-button-line
