<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel|Open+Sans|Raleway|Ropa+Sans|Wire+One">
  </head>
  <body>
    <header class="header" style="background-image: url('/assets/bg.png');">
      <div class="header-overlay"></div>
      <nav class="navigation js-nav">
        <ul class="navigation-list">
          <li class="navigation-item"><a class="navigation-link navigation-item--home" href="/views/home.html">Home</a></li>
          <li class="navigation-item"><a class="navigation-link navigation-item--blog" href="/views/blog.html">Blog</a></li>
          <li class="navigation-item"><a class="navigation-link navigation-item--projects" href="/views/projects.html">Projects</a></li>
          <li class="navigation-item"><a class="navigation-link navigation-item--experiments" href="/views/experiments.html">Experiments</a></li>
          <li class="navigation-item"><a class="navigation-link navigation-item--about" href="/views/about.html">About</a></li>
        </ul>
      </nav><i class="navigation-button js-navigation-button"><span class="navigation-button-line"></span><span class="navigation-button-line"></span><span class="navigation-button-line"></span></i>
      <div class="header-content">
        <h1 class="header-title"><span>YAYU/</span><span class="green">BLOG</span></h1>
        <h2 class="header-subtitle">Frontend is cool</h2>
      </div>
    </header>
    <div class="blog">
      <ul class="blog-post-list">
        <li class="blog-post-item">
          <h4 class="blog-post-item-date">2017.02</h4>
          <div class="blog-post-item-info">
            <h2 class="blog-post-item-title">Post about a topic</h2>
            <h4 class="blog-post-item-tags"><a class="blog-post-item-link" href="#">#Javascript</a>,<a class="blog-post-item-link" href="#"> #Vue.js</a></h4>
            <p class="blog-post-item-summary">Howl uncontrollably for no reason find empty spot in cupboard and sleep all day or going to catch the red dot today going to catch the red dot today ignore the squirrels, you'll never catch them anyway climb a tree, wait for a fireman jump to fireman then scratch his face. Nap all day the</p>
          </div>
        </li>
        <li class="blog-post-item">
          <h4 class="blog-post-item-date">2017.02</h4>
          <div class="blog-post-item-info">
            <h2 class="blog-post-item-title">Post about a topic</h2>
            <h4 class="blog-post-item-tags"><a class="blog-post-item-link" href="#">#Javascript</a>,<a class="blog-post-item-link" href="#"> #Vue.js</a></h4>
            <p class="blog-post-item-summary">Howl uncontrollably for no reason find empty spot in cupboard and sleep all day or going to catch the red dot today going to catch the red dot today ignore the squirrels, you'll never catch them anyway climb a tree, wait for a fireman jump to fireman then scratch his face. Nap all day the</p>
          </div>
        </li>
        <li class="blog-post-item">
          <h4 class="blog-post-item-date">2017.02</h4>
          <div class="blog-post-item-info">
            <h2 class="blog-post-item-title">Post about a topic</h2>
            <h4 class="blog-post-item-tags"><a class="blog-post-item-link" href="#">#Javascript</a>,<a class="blog-post-item-link" href="#"> #Vue.js</a></h4>
            <p class="blog-post-item-summary">Howl uncontrollably for no reason find empty spot in cupboard and sleep all day or going to catch the red dot today going to catch the red dot today ignore the squirrels, you'll never catch them anyway climb a tree, wait for a fireman jump to fireman then scratch his face. Nap all day the</p>
          </div>
        </li>
        <li class="blog-post-item">
          <h4 class="blog-post-item-date">2017.02</h4>
          <div class="blog-post-item-info">
            <h2 class="blog-post-item-title">Post about a topic</h2>
            <h4 class="blog-post-item-tags"><a class="blog-post-item-link" href="#">#Javascript</a>,<a class="blog-post-item-link" href="#"> #Vue.js</a></h4>
            <p class="blog-post-item-summary">Howl uncontrollably for no reason find empty spot in cupboard and sleep all day or going to catch the red dot today going to catch the red dot today ignore the squirrels, you'll never catch them anyway climb a tree, wait for a fireman jump to fireman then scratch his face. Nap all day the</p>
          </div>
        </li>
        <li class="blog-post-item">
          <h4 class="blog-post-item-date">2017.02</h4>
          <div class="blog-post-item-info">
            <h2 class="blog-post-item-title">Post about a topic</h2>
            <h4 class="blog-post-item-tags"><a class="blog-post-item-link" href="#">#Javascript</a>,<a class="blog-post-item-link" href="#"> #Vue.js</a></h4>
            <p class="blog-post-item-summary">Howl uncontrollably for no reason find empty spot in cupboard and sleep all day or going to catch the red dot today going to catch the red dot today ignore the squirrels, you'll never catch them anyway climb a tree, wait for a fireman jump to fireman then scratch his face. Nap all day the</p>
          </div>
        </li>
      </ul>
      <div class="blog-navigation"><a class="blog-navigation-link" href="#">< Anterior</a><a class="blog-navigation-link" href="#"> Siguiente ></a></div>
    </div>
    <script>
      (function() {
          var $navButton = document.querySelector('.js-navigation-button');
          var $nav = document.querySelector('.js-nav');
          if (!$navButton) return;
          console.log($nav, $navButton)
          $navButton.addEventListener('click', function() {
              var navIsActive = $nav.classList.contains('is-active');
              if (navIsActive) {
                  $nav.classList.remove('is-active')
              } else {
                  $nav.classList.add('is-active')
              }
              console.log('click')
          })
      })();
    </script>
  </body>
</html>