extends shared/base


block content
    - var headerImage = "/assets/bg.png"
    - var headerTitle = "BLOG"
    - var headerSubtitle = "Frontend is cool"
    - var headerColor = "green"
    include shared/header

    div.blog
        ul.blog-post-list
            each post in [1,2,3,4,5]
                li.blog-post-item
                    h4.blog-post-item-date 2017.02
                    div.blog-post-item-info
                        h2.blog-post-item-title Post about a topic
                        h4.blog-post-item-tags
                            a.blog-post-item-link(href="#") #Javascript
                            | ,
                            a.blog-post-item-link(href="#")  #Vue.js
                        p.blog-post-item-summary
                            | Howl uncontrollably for no reason find empty spot in cupboard and sleep all day or going to catch the red dot today going to catch the red dot today ignore the squirrels, you'll never catch them anyway climb a tree, wait for a fireman jump to fireman then scratch his face. Nap all day the

        div.blog-navigation
            a(href="#").blog-navigation-link < Anterior
            a(href="#").blog-navigation-link  Siguiente >