extends shared/base


block content
    - var headerImage = "/assets/bg.png"
    - var headerTitle = "TEST"
    - var headerSubtitle = "A colllection of small learning experiments using the latest technologies availables for the web."
    - var headerColor = "red"
    include shared/header


    div.experiments
        div.experiments-list
            each n in [0,1,2,3,4]
                a.experiments-item(href="#")
                    img.experiments-item-image(src="/assets/weetrack2-desktop.png")
                    h3.experiments-item-title Experiment #123