extends shared/base

block content
    video.home-bg-video(src="/assets/bg.webm", loop, autoplay)
    div.home-video-overlay

    div.home-container
        div.home-text-container
            h1.home-title ARTURO CORONEL
            h3.home-subtitle
                span.home-subtitle-item Frontend Developer
                span.home-subtitle-item Javascript expert
                span.home-subtitle-item Likes penguins

        ul.home-navigation
            div.home-border-layer

            li.home-navigation-item
                a.home-navigation-link(href="#") Blog
            li.home-navigation-item
                a.home-navigation-link(href="#") Proyects
            li.home-navigation-item
                a.home-navigation-link(href="#") Experiments
            li.home-navigation-item
                a.home-navigation-link(href="#") Github
            li.home-navigation-item
                a.home-navigation-link(href="#") About