<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel|Open+Sans|Raleway|Ropa+Sans|Wire+One">
  </head>
  <body>
    <video class="home-bg-video" src="/assets/bg.webm" loop autoplay></video>
    <div class="home-video-overlay"></div>
    <div class="home-container">
      <div class="home-text-container">
        <h1 class="home-title">ARTURO CORONEL</h1>
        <h3 class="home-subtitle"><span class="home-subtitle-item">Frontend Developer</span><span class="home-subtitle-item">Javascript expert</span><span class="home-subtitle-item">Likes penguins</span></h3>
      </div>
      <ul class="home-navigation">
        <div class="home-border-layer"></div>
        <li class="home-navigation-item"><a class="home-navigation-link" href="#">Blog</a></li>
        <li class="home-navigation-item"><a class="home-navigation-link" href="#">Proyects</a></li>
        <li class="home-navigation-item"><a class="home-navigation-link" href="#">Experiments</a></li>
        <li class="home-navigation-item"><a class="home-navigation-link" href="#">Github</a></li>
        <li class="home-navigation-item"><a class="home-navigation-link" href="#">About</a></li>
      </ul>
    </div>
  </body>
</html>