extends shared/base


block content
    - var headerImage = "/assets/bg.png"
    - var headerTitle = "PROJECTS"
    - var headerSubtitle = "A collection of my favorite side-projects I've created."
    - var headerColor = "blue"
    include shared/header

    - var projects = [{ title: 'Weetrack 2.0', date: '2014 - Current', imagePrefix: 'weetrack2',url: 'http://track.datyayu.xyz/', description: 'An automated anime release tracker build using react, redux and SASS for the frontend. The backend is written in node.js using ES6, and part of the logic for listening the rss feeds which uses as data source, was extracted onto a published npm module (feed-watcher) to help other people to deal with that problem'}]

    div.projects
        ul.projects-list
            each project in projects.concat(projects).concat(projects).concat(projects).concat(projects)
                li.projects-item
                    h2.projects-title #{project.title}
                    div.projects-screenshots
                        img.projects-image--phone(src="/assets/" + project.imagePrefix + "-phone.png")
                        img.projects-image--ipad(src="/assets/" + project.imagePrefix + "-ipad.png")
                        img.projects-image--desktop(src="/assets/" + project.imagePrefix + "-desktop.png")
                    p.projects-date #{project.date}
                    a.projects-link(href=project.url, target="_blank") < Link >
                    p.projects-description #{project.description}

