.blog-post-text {
    font-size: 1.2em;

    a {
        text-decoration: none;
        color: $blue;
    }

    code {
        background: $black;
        color: $white;
        padding: 0 .5em;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $orange;
    }
}