.blog-post-title {
    color: $green;
    font-size: 2em;
    text-align: center;
    margin: 1em 0 0 0;
}

.blog-post-date {
    text-align: center;
    margin: .5em 0;
}

.blog-post-tags {
    text-align: center;
    margin: .5em 0;
    color: $gray;
    font-weight: normal;
    font-size: 1.1em;
}
