.experiments-item {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 1em 0;

    @include at-tablet {
        width: 47%;
        margin: 1em 1.5%;
    }

    @include at-desktop {
        width: 32%;
        margin: 1em .65%;
    }

    @include at-hd-desktop {
        width: 24%;
        margin: 1em .5%;
    }

    @include at-plus-hd-desktop  {
        width: 19%;
        margin: 1em .5%;
    }
}

.experiments-item-image {
    width: 100%;
}

.experiments-item-title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    padding: .5em;
    background: rgba($red, .5)
}