.navigation-item {
    text-transform: uppercase;
    padding: 0;
    font-size: 1.3em;
    transition: transform 100ms ease-in-out;
    will-change: transform;
    max-width: 50vw;
    box-sizing: border-box;

    &:hover {
        transform: scale(1.2) translateX(.5em);

        .navigation-item--home { color: $gray; }
        .navigation-item--blog { color: $green; }
        .navigation-item--projects { color: $blue; }
        .navigation-item--experiments { color: $red; }
        .navigation-item--about { color: $orange; }
    }

    @include at-tablet {
        &:hover {
            transform: scale(1.2) translateX(1em);
        }
    }

    @include at-desktop {
        &:hover {
            transform: scale(1.2);
        }
    }
}

.navigation-link {
    text-decoration: none;
    color: white;
    height: 2em;
    display: flex;
    padding: 1em;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}