.home-bg-video {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    position: fixed;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
}

.home-video-overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(black, .4);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

.home-container {
    position: relative;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-text-container {
    color: white;
    padding: .5em;
    width: 100vw;
    font-size: 1.5em;
    z-index: 2;

    @include at-tablet {
        padding: .8em;
    }

    @include at-desktop {
        padding: 1.2em;
    }
}

.home-title {
    font-size: 2.5em;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 10%;
    line-height: 1em;

    @include at-tablet {
        font-size: 2.8em;
        line-height: 1.2em;
    }
}

.home-subtitle {
    color: #ddd;
    margin: 0;
    font-size: .8em;
    font-weight: 200;

    @include at-tablet {
        font-size: 1em;
        line-height: 1.4em;
    }
}

.home-subtitle-item {
    display: block;

    @include at-desktop {
        display: inline;

        &:after {
            content: " / ";
        }

        &:last-child:after {
            content: none;
        }
    }
}
