.home-border-layer {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: 100vh;
    overflow: hidden;
    transition: border 200ms ease-in-out;
    border-bottom: 14em solid white;
    border-left: 50em solid transparent;

    @include at-tablet {
        border-bottom: 14em solid white;
        border-left: 30em solid transparent;
    }

    @include at-desktop {
        border-bottom: 15em solid white;
        border-left: 15em solid transparent;
    }


    @include at-hd-desktop {
        border-bottom: 17em solid white;
        border-left: 15em solid transparent;
    }
}
